{% extends 'base.html.twig' %}
{% block title %}The Good News
{% endblock %}
{% block body %}
	<div class="row">
		<div class="card bg-dark col-12 p-4 text-light">
			{{ form_start(form) }}
			<div>
				<div class="text-warning mb-1">
					Titre de l'article
				</div>
				{{ form_widget(form.title, {attr: {placeholder: "Entrez le titre de l'article"}}) }}
			</div>
			<div>
				<div class="text-warning pt-3 mb-1">
					Catégorie
				</div>
				{{ form_widget(form.categorie) }}
			</div>
			<div>
				<div class="text-warning pt-3 mb-1">
					Contenu de l'article
				</div>
				{{ form_widget(form.content, {attr: {placeholder: "Entrez le contenu de l'article", rows: '20'}}) }}
			</div>
			<div>
				<div class="text-warning pt-3 mb-1">
					Image
				</div>
				{{ form_widget(form.picture) }}
			</div>
			<input type="submit" class="btn btn-danger mt-5" value="Soumettre">
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
